<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCCPRO - Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="Titulo2">
        <h1>TCC Pro</h1>
    </div> 
        <form method="POST" id="RegisterButton">
           <div class="registro">
                <input type="text" name="Usuario" class="Usuario" placeholder="Usuario" required>
                <input type="text" name="CPF" class="CPF" placeholder="CPF" required>
                <input type="text" name="dataNasc" class="dataNasc" placeholder="Data de Nascimento" required>
                <input type="text" name="Email" class="Email" placeholder="Gmail" required>
                <input type="password" name="password" class="password" placeholder="Senha" required>
                <input type="password" name="password2" class="password2" placeholder="Repita a Senha" required>

                <button type="submit"><strong>Registrar</strong></button>
            </div>
        </form>

        <!-- Aqui pegamos a mensagem de erro definida na classe de login e jogamos o erro em um P-->
        <div th:if="${loginErro}" class="alert alert-danger" th:text="${loginErro}"></div>
</body>
</html>
</html>
